<% content_for :head do %>
    <%= stylesheet_link_tag 'tasks', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :title do %>
    <%= @task.title %>
    <% if @can_edit %>
        <%= link_to edit_task_path( @task) do %>
             <span id="edit-button">edit</span>
        <% end %>
    <% end %>
<% end %>

<% content_for :title_right do %>
     <%= @task.task_type_obj[:display_name] %>
<% end %>

<% content_for :page_end do %>
    <%= javascript_include_tag 'tasks', 'data-turbolinks-track' => true %>

    <script language="JavaScript">
        $(document).ready(function() {
            $('#comment-form').submit(function(event) {
                url = "<%= url_for :action => 'add_comment' %>";
                addComment( url + '.json');
                event.preventDefault();
            });
        });
    </script>
<% end %>


<section class="clearfix">
    <div class="left-cell">
        <%= link_to "Back to project", project_path(@task.project_id), :style => "font-size: 18px; margin-top: 15px;" %>
        <h1 data-translate="description">Description</h1>
        <p><%= @task.description %></p>
    </div>
    <div class="right-cell">
        <%= render :partial => "details", locals: { all: true} %>
    </div>
</section>

<%= render "comment_list" %>
