<% content_for :head do %>
    <%= stylesheet_link_tag "project", :media => "all" %>
    <%= javascript_include_tag 'underscore', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap-slider', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :title do %>
   <%= @project.name %>
<% end %>

<% content_for :title_right do %>
   <h2>
   <%= @project.complete %>% <span data-translate="complete">complete</span>
   </h2>
<% end %>

<% content_for :page_end do %>
    <%= javascript_include_tag 'projects', 'data-turbolinks-track' => true %>

    <script language="JavaScript">
        $(document).ready(function() {
            $('#project-form').submit(function(event) {
                event.preventDefault();
                console.log(submitName );

                if (submitName === "Delete"){
                    url = "<%= url_for :action => 'destroy' %>";
                    deleteProject( url + '.json');
                }else{
                    url = "<%= url_for :action => 'update' %>";
                    editProject( url + '.json');
                }
            });
        });
    </script>
<% end %>


<%= form_for @project, :html => { :id => "project-form" } do |p| %>
    
    <%= render :partial => "project_base_form", :locals=>{ p: p} %>

    <%= render partial: "tasks/task_table", locals: { tasks: @project.tasks, editable: true, wrap: true} %>

    <%= render partial: "people", locals: {editable: true} %>

    <!--save, delete and back buttons-->
    <%= link_to project_path(@project) do %>
        <div class="project-button pull-left">
            <span data-translate="back">Back</span>
        </div>
    <% end %>

    <%= p.submit :submit, { :value => "Save", :class => "project-button pull-right", :onclick => "setSubmit(this)", :data_translate => "save" } %>
    <%= p.submit :submit, { :value => "Delete", :class => "project-button pull-right", :onclick => "setSubmit(this)", :data_translate => "delete" } %>
<% end %>
