<% content_for :head do %>
    <%= stylesheet_link_tag "project", :media => "all" %>
    <%= javascript_include_tag 'underscore', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap-slider', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :title do %>
   <span data-translate="new_project">Create new project</span>
<% end %>

<% content_for :page_end do %>
    <%= javascript_include_tag 'projects', 'data-turbolinks-track' => true %>

    <script language="JavaScript">
        $(document).ready(function() {
            $('#project-form').submit(function(event) {
                url = "<%= url_for :action => 'create' %>";
                createProject( url+".json");
                event.preventDefault();
            });
        });
    </script>
<% end %>


<%= form_for @project, :html => { :id => "project-form" } do |p| %>

    <%= render :partial => "project_base_form", :locals=>{ p: p} %>

    <!--save and back buttons-->
    <%= link_to projects_path do %>
        <div class="project-button pull-left">
            <span data-translate="back">Back</span>
        </div>
    <% end %>

    <%= p.submit :submit, { :value => "Save", :class => "project-button pull-right", :onclick => "setSubmit(this)", :data_translate => "save" } %>
<% end %>
