<% content_for :head do %>
    <%= stylesheet_link_tag "project", :media => "all" %>
<% end %>

<% content_for :title do %>
    <%= @project.name %>
    <% if @can_edit %>
        <%= link_to edit_project_path(@project) do %>
             <span id="edit-button">edit</span>
        <% end %>
    <% end %>
<% end %>

<% content_for :title_right do %>
   <h2>
    <%= @project.complete %>%&nbsp;
    <span data-translate="complete">complete</span>
   </h2>
<% end %>


<section class="data-section">
    <header data-translate="description">Description</header>
    <p><%= @project.description %></p>
</section>

<%= render partial: "task_table", locals: {editable: false} %>

<%= render partial: "people", locals: {editable: false} %>
