<% content_for :head do %>
    <%= stylesheet_link_tag "project", :media => "all" %>
<% end %>

<% content_for :title do %>
    <%= @project.name %>
    <% if @can_edit %>
        <%= link_to edit_project_path(@project) do %>
             <span id="edit-button">edit</span>
        <% end %>
    <% end %>
<% end %>

<% content_for :title_right do %>
   <h2>
   <%= @project.complete %>%&nbsp;<span data-translate="complete">complete</span>
   </h2>
<% end %>


<section class="clearfix" style="display:none">
    <div class="read-cell">
        <!--TODO chart-->
        <h1>chart</h1>
    </div>
    <div class="read-cell">
        <!--TODO activity-list-->
        <ul id="activity-list">
            <li class="activity-list-item">
                <span class="glyphicon glyphicon-ok"></span>
                <b>80% complete</b>
                <span class="activity-time">11 min ago</span>
            </li>
            <li class="activity-list-item">
                <span class="glyphicon glyphicon-ok"></span>
                <b>80% complete</b>
                <span class="activity-time">11 min ago</span>
            </li>
            <li class="activity-list-item">
                <span class="glyphicon glyphicon-ok"></span>
                <b>80% complete</b>
                <span class="activity-time">11 min ago</span>
            </li>
            <li class="activity-list-item">
                <span class="glyphicon glyphicon-ok"></span>
                <b>80% complete</b>
                <span class="activity-time">11 min ago</span>
            </li>
        </ul>
    </div>
</section>

<section class="data-section">
    <header data-translate="description">Description</header>
    <p><%= @project.description %></p>
</section>

<section class="data-section">
    <div id="view-header-right">
        <%= link_to new_task_path do %>
        <%# TODO a href="{% url 'task_create' project.id %}" %>
        <span class="glyphicon glyphicon-plus"></span>
        add new task
        <% end %>
    </div>
    <header class="clearfix" data-translate="tasks">Tasks</header>

    <table id="tasks-table">
        <tr>
            <th class="tasks-cell tasks-col1" data-translate="active">Active</th>
            <th class="tasks-cell tasks-col2" data-translate="title">Title</th>
            <th class="tasks-cell tasks-col3" data-translate="assigned_to">Assigned to</th>
            <th class="tasks-cell tasks-col4" data-translate="deadline">Deadline</th>
        </tr>

        <% @project.tasks.each do |task| %>
        <tr>
            <td class="tasks-cell tasks-col1"></td>
            <td class="tasks-cell tasks-col2">
                <%= link_to task.title, task_path(task) %>
            </td>
            <td class="tasks-cell tasks-col3">
              <% unless task.person_responsible.nil? %>
                <%# TODO a href="{% url 'public_profile' task.personResponsible.id %}" %>
                    <%= task.person_responsible.preety_print %>
              <% else %>
                  <span data-translate="not_assigned">Not assigned yet</span>
              <% end %>
            </td>
            <td class="tasks-cell tasks-col4"><%= task.deadline %></td>
        </tr>
        <% end %>
    </table>
</section>

<%#
<section class="data-section">
    <header data-translate="project_people">People</header>
    <ul id="people-list" class="clearfix">
        {% for person in project.people %}
        <li class="people-list-item">
            <a href="{% url 'public_profile' person.id %}">
                <img src="{{ STATIC_URL }}{{ person.avatarPath}}">
                {{ person.first_name|default:person.username }}&nbsp;{{ person.last_name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
<section class="data-section">
    <header data-translate="files">Files</header>
    <ul id="files-list" class="clearfix">

        {% for file in project.files %}
        <li class="files-list-item" data-type="{{file.type|lower}}">
                <!--icon-->
                {% if file.type == "Document" %}
                    <span class="glyphicon glyphicon-file"></span>
                {% else %}
                    {% if file.type == "Image" %}
                        <span class="glyphicon glyphicon-camera"></span>
                    {% else %}
                        {% if file.type == "Sound" %}
                            <span class="glyphicon glyphicon-music"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-paperclip"></span>
                        {% endif %}
                    {% endif %}
                {% endif %}

                <b>_{{ file.name }}_</b>
        </li>
        {% endfor %}
    </ul>
</section>
%>