<!DOCTYPE html>
<html>
<head>
	<title>Tasker</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body id="page-background">
	<div id="page-content">

		<%= render 'layouts/nav_bar' %>

		<%= render 'layouts/left_panel' %>

		<!-- main content panel f.e. timeline, images, search etc. -->
		<div id="main-panel" class="ui-content-min-h">
			<header id="view-header">
				<%# TODO hardcoded folder-open icon %>
				<span class="glyphicon glyphicon-folder-open"></span>
				<span id="view-title">
					<%= yield :title %>
				</span>

				<div id="view-header-right">
					<%= yield :title_right %>
				</div>
			</header>

			<div id="center-content">
				<%= yield %>
			</div>

		</div>

		<!--page content end-->
	</div>

	<%= yield :page_end %>

	<script>
		var a = $("[data-page-type='<%= @data_page_type %>']");
		var color = a.find(".navigation-button-color").css("background-color");
		a.css("background-color",color);
		$("#view-header").css("border-top-color",color);
	</script>

</body>

</html>
